/*----------Colors
#282042 - dark blue
#8D99AE - light blue
#EDF2F4 - grid
-----------------------*/

/*-------------------Global styles----------------------*/
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1,
h2 {
    font-family: 'caveat', cursive;
    font-weight: 400;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
    margin-top: 0
}

h3 {
    margin: 0;
}

/*--------------------Navigation----------------------*/
nav {
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: #EDF2F4;
    top: 0;
    padding: 10px 0;
}

nav a {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    color: #2B2D42;
}

@media (min-width: 440px) {
    nav a {
        margin: 14px;
        font-size: 16px;
    }
}

/*-------------------Header only-----------------------*/
header {
    position: relative;
    padding-top: 50px;
    text-align: center;
    background-color: #2B2D42;
    color: #8D99AE;
}

header h1,
header h2 {
    color: #EDF2F4;
}

h1 {
    margin: 0;
}

.content-wrap {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 935px;
    overflow: hidden;
}

@media (min-width: 935px) {
    .content-wrap {
        flex-direction: row;
    }
}

/*---------------project---------------*/
main {
    background-color: #45567d;
}

.project-wrapper {
    margin: 0 auto;
    padding: 20px;
    max-width: 935px;
}

.projects-section-header {
    text-align: center;
    font-size: 40px;
    padding-top: 80px;
    margin: 0 auto 3rem auto;
    max-width: 640px;
    color: #EDF2F4;
}

.project-box {
    display: block;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 30px;
    margin: 0 auto;
    max-width: 935px;
}

h3~p {
    margin: 0;
}

.project-image {
    width: 100%;
    object-fit: cover;
}

.project-card {
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

}

.project-title {
    padding: 10px 0;
}

.project-description {
    padding: 25px 15px;
    color: #EDF2F4;
}

.project-description ul,
li {
    margin: 0;
    padding: 0;
}

.project-description ul {
    padding: 20px 20px;
}

.project-description li {
    padding: 5px;
}

.project-description a {
    text-decoration: none;
}

.button {
    border-radius: 8px solid #45567d;
    padding: 5px;
    margin: 10px 10px 10px 0;
    color: black;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #8d99a8;
}

/*-----show all---------*/
.show-all {
    text-align: center;
    padding: 0 0 50px 0;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
    text-decoration: none;
    color: #EDF2F4;
}

.btn-show-all {
    font-size: 2rem;
    background: #2B2D42;
    transition: background 0.3s ease-out;
}

.btn-show-all:hover {
    background: #374464;
}

.btn-show-all:hover>i {
    transform: translateX(2px);
}

.btn-show-all>i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

/*-------------footer-----------*/
footer {
    text-align: center;
    background-color: #2B2D42;
    color: #8D99AE;
}

.contact-wrap {
    margin: 0 auto;
    padding: 80px 0;
    max-width: 900px;
}

.contact-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.media-pic {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: #8D99AE solid 2px;
}

.media-pic:hover {
    transform: scale(1.1);
}

p+h3 {
    margin-top: 30px;
}

footer p {
    margin-top: 50px;
}
